@page
@model AdminSite.Pages.AdminPanelModel
@{
    ViewData["Title"] = "Admin Panel - SFFP";
}

<div class="header">
    <h1>Admin Panel</h1>
</div>
<hr />


@* <html></html> *@
<head>
    <style>
        table {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            table td, table th {
                border: 2px solid #ddd;
                padding: 8px;
            }

            table tr:nth-child(even) {
                background-color: #d9e6cf;
            }

            table tr:hover {
                background-color: #b5cca3;
            }

            table th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: center;
                background-color: #9EB384;
                color: white;
            }
    </style>

</head>

<body>
    <div class="top-row">
        <div class="priceBox">
            <a class="priceBoxBigtext">Pris oversigt</a>
            <hr class="priceBoxHR" />
            <p class="priceBoxText">
                Dagpas = @Model.Price1() DKK <br />
                Månedpas = @Model.Price2() DKK <br />
                Årpas = @Model.Price3() DKK
            </p>
            <a href="#" class="editPriceButton">
                <span>Rediger</span>
            </a>
            <a href="#" class="saveButton">
                <span>Gem</span>
            </a>
        </div>

<<<<<<< Updated upstream
        <div class="ticketsBox">
            <a class="ticketsBoxBigtext">Billet oversigt</a>
            <hr class="ticketsBoxHR" />
            <p class="totalTickets">
                Købte billetter i alt: 9999
            </p>
            <p class="lastBoughtTickets">
                Seneste 5 købte billetter <br />
                1. Sofia Rodriguez <br />
                2. Luca Bianchi <br />
                3. Emily Smith <br />
                4. Raj Patel <br />
                5. Aisha Khan <br />
                6. Pablo Fernandez <br />
                7. Isabella Santos <br>
                8. Tuki Tanaka <br />
                9. Elise Dupont <br />
                10. Ahmed Ali
            </p>
        </div>
=======
	<div class="top-row">
		<div class="priceBox">
			<a class="priceBoxBigtext">Pris oversigt</a>
			<hr class="priceBoxHR" />
			<p class="priceBoxText">
				Dagpas = @Model.Price1() DKK <br />
				Månedpas = @Model.Price2() DKK <br />
				Årpas = @Model.Price3() DKK
			</p>
			<a href="#" class="editPriceButton">
				<span>Rediger</span>
			</a>
			<a href="#" class="saveButton">
				<span>Gem</span>
			</a>
		</div>

		<div class="ticketsBox">
			<a class="ticketsBoxBigtext">Billet oversigt</a>
			<hr class="ticketsBoxHR" />
			<p class="totalTickets">
				Købte billetter i alt: 9999
			</p>
			<p class="lastBoughtTickets">
				Seneste 5 købte billetter <br />
				@foreach (var item in Model.lastpurchase())
				{
					<p>@item</p>
				}
			</p>
		</div>
>>>>>>> Stashed changes


       
    </div>

    <div class="bottom-row">
        

        <div class="workersBox">
            <a class="workersBoxBigtext">Oversigt over ansatte</a>
            <hr class="workersBoxHR" />
            <p>
               @*  Sofia Rodriguez <br />
                Luca Bianchi <br />
                Emily Smith <br />
                Raj Patel <br />
                Aisha Khan <br />
                Pablo Fernandez <br />
                Isabella Santos <br />
                Yuki Tanaka <br />
                Elise Dupont <br />
                Ahmed Ali *@
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>

                    </tr>

                    @if (Model.Staff != null)
                    {

                        foreach (var person in Model.Staff)
                        {
                            
                            <tr>
                                <td>@person.PersonID</td>
                                <td>@person.PersonName</td>
                                <td>@person.Email</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">No person found.</td>
                        </tr>
                    }
                </table>

            </p>
            <form method="post">
                <select asp-for="SelectedStaffEmail" asp-items="@(new SelectList(Model.Staff, "PersonID", "PersonName"))">
                    <option value="">-- Select Staff --</option>
                </select>
                <button type="submit" asp-page-handler="Edit">Edit</button>
                <button type="submit" asp-page-handler="Delete">Delete</button>
                @* <button type="submit" asp-page-handler="Save">Save</button> *@
                <button type="submit" asp-page-handler="AddNew">Add New Staff</button>
            </form>

            </a>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>

        <div class="assigmentsBox">
            <a class="assigmentsBoxBigtext">Forlystelser</a>
            <hr class="assigmentsBoxHR" />
            <p>
                <table>
                    <tr>
                        <th>Facility ID</th>
                        <th>Facility Name</th>
                        <th>Next Maintenance</th>
                        <th>Staff</th>

                    </tr>

                    @if (Model.AllFacilities != null)
                    {

                        foreach (var facility in Model.AllFacilities)
                        {

                            <tr>
                                <td>@facility.FacilityID</td>
                                <td>@facility.FacilityName</td>
                                <td>@facility.NextMaintenanceDate</td>
                                <td>
                                    @foreach(var staffName in facility.MaintenanceStaff)
                                    {
                                        @staffName  <br />
                                    }
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">No facility found.</td>
                        </tr>
                    }
                </table>

            </p>
            <a href="#" class="deleteButton">
                <span>Slet</span>
            </a>
            <a href="#" class="editButton">
                <span>Rediger</span>
            </a>
            <a href="#" class="saveButton">
                <span>Gem</span>
            </a>
        </div>

    </div>
    <br/>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="top-row">
        <div class="priceBox">
            <a class="priceBoxBigtext">Customer Overview</a>
            <hr class="priceBoxHR" />
            <p class="priceBoxText">
                <br>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>

                    </tr>

                    @if (Model.Customers != null)
                    {

                        foreach (var person in Model.Customers)
                        {

                            <tr>
                                <td>@person.PersonID</td>
                                <td>@person.PersonName</td>
                                <td>@person.Email</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">No person found.</td>
                        </tr>
                    }
                </table>
            </p>
            
            </a>
        </div>

        <div class="ticketsBox">
            <a class="ticketsBoxBigtext">PlaceHolder</a>
            <hr class="ticketsBoxHR" />
            <p class="totalTickets">
                
            </p>
            <p class="lastBoughtTickets">
                  <br />
                  <br />
                  <br />
                
            </p>
        </div>
    </div>
</body>

